# Flutter/Dart/Pub related
/build/
/.dart_tool/
/.flutter-plugins
/.flutter-plugins-dependencies
/.pub-cache/
/.pub/
/coverage/

# Android related
**/android/.gradle/
**/android/app/local.properties
**/android/app/flutter_bootstrap.properties
**/android/app/debug/
**/android/app/profile/
**/android/app/release/

# Firebase/Google related (El JSON se debe omitir por seguridad según buenas prácticas)
# Pero si tu profesor lo pide para calificar, puedes comentar la siguiente línea con un #
android/app/google-services.json

# IntelliJ/Android Studio related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/
.history

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store